
table {
    border-collapse: collapse;
    border: 2px solid black;
}

th, td {
    text-align: center;
    width: 50px;
    height: 40px;
    border: 2px solid black;
    border-collapse: collapse;
}
tr:nth-child(even){background-color: #f2f2f2}


